.centered-left {
    display: flex;
    justify-content: center; /* Center horizontally within the viewport */
    align-items: center; /* Center vertically */
    text-align: left; /* Left-align text */
    height: 100vh; /* Full viewport height */
    flex-direction: column; /* Stack content vertically */
    width: 25%; /* Adjusts the container width to 50% of the viewport */
    max-width: 300px; /* Optional: set a max width to prevent too wide content */
    margin: 0 auto; /* Center the container horizontally within the parent */
    padding: 0 50%; /* Ensures the content spans from 25% to 75% of the screen width */
  }

  .page__hero--overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .page__hero--overlay .page__hero__inner {
    margin: 0 auto;
  }
  
  .page__hero--overlay h1, 
  .page__hero--overlay p, 
  .page__hero--overlay .btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }